body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0; }

body, html {
  height: 100%; }

#root {
  height: 100%; }

.App {
  height: 100%; }

.d-block {
  display: block; }

.d-none {
  display: none; }

.chat-room {
  display: flex;
  height: 100%; }
  .chat-room__sidebar {
    width: 250px;
    min-width: 250px;
    height: 100%;
    font-size: 16px;
    color: #a0a4a7;
    background: #1d232a; }
    .chat-room__sidebar__title {
      padding: 15px; }
    @media only screen and (min-width: 768px) {
      .chat-room__sidebar__hamburg {
        display: none; } }
    .chat-room__sidebar__items {
      border-top: 1px solid #d6d7da;
      border-bottom: 1px solid #d6d7da;
      padding: 15px; }
      .chat-room__sidebar__items ul {
        margin: 0;
        padding: 0; }
        .chat-room__sidebar__items ul li {
          list-style: none;
          padding: 10px;
          cursor: pointer; }
        .chat-room__sidebar__items ul li:hover {
          background: #343c45;
          border-radius: 5px; }
  .chat-room__message {
    width: 100%;
    height: 100%;
    background: #f1f7f9;
    font-size: 14px;
    color: #293037; }
    .chat-room__message-inactive {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .chat-room__message__header {
      padding: 15px 20px;
      border-bottom: 1px solid #d6d7da; }
    .chat-room__message__type {
      width: calc(100% - 250px);
      position: absolute;
      bottom: 0; }
      .chat-room__message__type__input {
        height: 55px;
        border-radius: 0; }
      .chat-room__message__type__send {
        border-radius: 0;
        padding: 0 25px; }
